*-stamp

compile
Makefile
Makefile.in
Makefile.local
aclocal.m4
autom4te.cache
config.*
configure
depcomp
gtk-doc.make
install-sh
intltool-*
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
TAGS
tags
*.[ao]
*.l[ao]
*.swp
.libs
.deps


hildon/hildon-enum-types.c
hildon/hildon-enum-types.h
hildon/hildon-marshalers.c
hildon/hildon-marshalers.h
hildon/hildon-version.h
pkgconfig/hildon.pc
po/POTFILES
po/porules.mk

