#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_CONFIGURE_SCRIPT_ENV += LDFLAGS="-Wl,-O1 -Wl,--as-needed" PKG_CONFIG_PATH=/usr/lib/pkgconfig:/usr/share/pkgconfig
DEB_CONFIGURE_EXTRA_FLAGS := --enable-gtk-doc
DEB_COMPRESS_EXCLUDE := .c

SOURCE_DIR=$(CURDIR)

config.status: $(SOURCE_DIR)/configure

$(SOURCE_DIR)/configure:
	AUTOGEN_SUBDIR_MODE=1 NOCONFIGURE=yes $(SOURCE_DIR)/autogen.sh

common-binary-indep::
	sed -i 's_"hildon.h"_<hildon/hildon.h>_' $(DEB_DESTDIR)/usr/share/doc/libhildon1-examples/examples/*.c
	mv $(DEB_DESTDIR)/usr/share/doc/libhildon1-examples/examples/Makefile.static $(DEB_DESTDIR)/usr/share/doc/libhildon1-examples/examples/Makefile
